.media {
    background-size: cover;
    background-position: center;
    background-clip: content-box;
    border: 6px solid white;
    height: 700px;
    width: 700px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
  }

.border {
    color: slategray
}

.img {
    height: 350px;
    width: 350px;
}

  .media-body {
    background-size: cover;
    background-position: center;
    background-clip: content-box;
    border: 6px solid white;
    height: 350px;
    width: 350px;
    position: relative;
    margin: 0 auto;
    margin-left: 30px;
    margin-right: 30px;
  }