@import "https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300,400";

body {
  font-family: 'Open Sans', sans-serif;
  min-height: 75rem;
  padding-top: 4.5rem;
  background-color: white;
}

h1,h2,h3,h4,h5,small {
    font-family: 'Raleway', sans-serif;
    color: slategray;
}


.name {
  font-family: 'Raleway', sans-serif;
  color: slategray;
}

.titles {
  font-family: 'Raleway', sans-serif;
  color: #8e8d8a;
}

p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #8e8d8a;
}

ul {
  font-family: 'Open Sans', sans-serif;
  color: #8e8d8a;
}

li {
  font-family: 'Open Sans', sans-serif;
  color: #8e8d8a;
}

.border {
  color: slategray
}

img {
  height: 350px;
  width: 350px;
}

#headshot {
  height: 250px;
  width: 200px;
}
